@import "~bulma/bulma.sass";

$container-w: 320px;
$container-h: 409px;
$color-black: #212121;
$color-yellow: #ff9300;
$color-lightblue: #00bfd6;
$color-whiteblue: #a3ecf3;
$font-stack: "Roboto", sans-serif;

#app {
  font-family: $font-stack;
}

.move-enter-active,
.move-leave-active {
  transform: translateX(0);
  transition: all 0.3s linear;
}

.move-enter, .move-leave-to{
  transform: translateX(100%);
}
