@import "~bulma/bulma.sass";

$container-w: 320px;
$container-h: 409px;
$color-black: #212121;
$color-yellow: #ff9300;
$color-lightblue: #00bfd6;
$color-whiteblue: #a3ecf3;
$font-stack: "Roboto", sans-serif;

.container {
  height: $container-h;
  width: $container-w;
  font-family: $font-stack;
  .level {
    .-responsive {
      max-width: 100%;
    }
    .-tittle {
      font-size: 26px;
      color: $color-lightblue;
    }
  }
  .-label,
  .-input {
    padding: 0px 5px 0px 5px;
    width: 100%;
    display: block;
  }
  .-input {
    border: none;
    border-bottom: 1px solid $color-yellow;
    margin-bottom: 12px;
    font-size: 20px;
    width: 100%;
    color: $color-black;
    &:focus {
      outline: 0;
    }
  }
  .-label {
    color: $color-yellow;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .-btn {
    text-align: right;
    margin-bottom: 10px;
    a {
      color: white;
      background-color: $color-lightblue;
      padding: 5px 10px 5px 10px;
      border-radius: 0.2em;
      font-size: 20px;
    }
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html {
  font-size: 100%;
}
